body {
    margin: 1px auto;
    width: 85%;
}
p, li {
    width: 90%;
    margin-bottom: 10px;
    font-size: 1.2em;
}
ul li {
    list-style: disc;
    margin-left: 50px;
}
ol li {
    margin-left: 50px;
    list-style: decimal;
}
ul {
    margin-bottom: 30px;
}
p, li, td {
/*    font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
}
p {
    margin-bottom: 20px;
}
table {
    width: 100%;
    margin-bottom: 20px;
}
td {
    padding: 5px;
    background-color: #efefef;
    border: 1px #ffffff solid;
}
p.top {
    margin-top: 0px;
    padding-top: 0px;
}
div.header {
    position: relative;
    background-color: #454C3B;
    height: 50px;
    width: 100%;
}
div.header form {
    position: absolute;
    right: 30px;
    top: 12px;
}
div.header form submit {
    font-family: 'Lora', serif;
    font-size: 1.2em;
}
div.header form input {
    color: #333;
    font-family: 'Lora', serif;
    font-size: 1em;
}

nav {
    float: left;
    width: 25%;
}
nav ul {
    padding: 0px;
    margin-top: 1px;
    list-style: none;
    margin-bottom: 0px;
}

nav ul li, footer ul li {
    font-family: 'Lora', serif; 
    letter-spacing: .05em;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1em;
    display: block;
    margin: 0px;
}
footer ul li {
    display: inline;
}
nav ul li {
    padding:10px;
    background-color: #88B054;
    margin-bottom:1px;
}
nav ul li a{
    color: #fcfcfc;
}
a {
    text-decoration: none;
    color: #617D3C;
    font-weight: normal;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    font-family: 'Lora', serif;
    line-height: 1.4em;
    color: #454C3B;
    margin: 15px 0px 20px 0px;
    font-weight: bold;
}
h2 {
    margin-top: 40px;
    font-size: 1.5em;
    color: #454C3B;
}
h3 {
    font-size: 1.3em;
    color: #454C3B;
}
h4 {
    font-size: 1.3em;
    color: #454C3B;
    font-style: italic;
    margin-bottom: 15px;
}
h2, h3 {
    font-weight: bold;
    letter-spacing: 1px;
    color: #454C3B;
    margin-bottom: 15px;
}
footer {
    border-top: 1px solid #d5d5d5;
    clear: both;
    background-color: #d5d5d5;
    color: #333;
    text-align: center;
    height: 50px;
}
footer p {
    font-size: 1em;
    margin: 15px;
    color: #454C3B;
    width: 100%;
}
#search_results {
    width: 50%;
    margin: auto;
}
.story {
    display: block;
    border: 1px dashed #454C3B;
    padding: 40px 10px 10px 40px;
    width: 90%;
    margin-bottom: 20px;
}
.story p {
    color: #666666;
    font-family: 'Open Sans', sans-serif; 
    font-style: italic;
    font-size: 1.2em;
    width: 90%;
}
.container {
    float: right;
    width: 68%;
    padding: 20px 30px;
}
.container .inner_search {
    width: 50%;
    margin: auto;
}
.quote {
    display: block;
    color: #666666;
    border: 1px dashed #454C3B;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    padding: 25px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    float: right;
    width: 220px;
}
.number-continuum {
    font-size: 1.1em;
}
