body {
    margin: 60px auto;
    width: 85%;
}
p, ul li {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #333;
    font-family: 'Cambria';
}
nav {
    float: left;
    width: 25%;
}
nav ul {
    padding: 0px;
    list-style: none;
}
footer ul {
    display: inline;
}
nav ul li, footer ul li {
    font-family:'Roboto', 'Arial', 'Sans-Serif';
    margin-right: 15px;
    font-weight: bold;
    font-size: 1em;
    display: block;
}
nav ul li {
    padding:10px;
    background-color: #dedede;
    margin-bottom:1px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Roboto', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.story {
    display: block;
    background-color: #dedede;
    padding: 50px;
}
.container {
    float: right;
    width: 73%;
}
.quote {
    display: block;
    background-color: #dedede;
    padding: 25px;
    margin: 25px;
    text-align: center;
    float: right;
    width: 250px;
    font-color: #cccccc;
}
