<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="robots" content="noindex">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic,300italic,300|Lora:400,400italic,700,700italic|Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
        <script src="/js/lunr.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/js/search.js"></script>
	</head>
	<article class="type-system-geometric">
        <div class="header">
            <form action="get" id="site_search">
              <input type="text" id="search_box">
              <input type="submit" value="search">
            </form>
        </div>
        <div id="search_results"></div>
        <div id="container" class="parent">
            <div class="container child">
                {{ content }}
            </div><!-- /.container -->
    		<nav class="child">
        		<ul>
            		<li><a href="/">Introduction</a></li>
            		<li><a href="/chapt-1/">Taking in the Positive</a></li>
            		<li><a href="/chapt-2/">Mindfulness</a></li>
            		<li><a href="/chapt-3/">Gratitude</a></li>
            		<li><a href="/chapt-4/">Anxiety, Stress and Coping Skills</a></li>
            		<li><a href="/chapt-5/">Mindful Problem Solving</a></li>
            		<li><a href="/chapt-6/">Recognizing and Challenging Anxious Thought Loops</a></li>
            		<li><a href="/chapt-7/">Reframing</a></li>
            		<li><a href="/chapt-8/">Harnessing your Strengths and Staying Connected to your Values</a></li>
            		<li><a href="/chapt-9/">Goal Attainment</a></li>
                    <li><a href="/chapt-10/">Maximizing Social Support</a></li>
                    <li><a href="/chapt-11/">Altruism and Acts of Kindness</a></li>
                    <li><a href="/chapt-12/">Creating an Ongoing Practice and Lasting Changes</a></li>

        		</ul>
    		</nav><!-- /.nav -->
        </div>
		<footer>
        	<p><button><a href="mailto:david.olem@gmail.com">Contact Me</a></button>&nbsp;&nbsp;|&nbsp;&nbsp;<button><a class="button button-edit" href="https://github.com/{{ site.github.organization }}/{{ site.github.repository }}/edit/{{ site.github.default_branch }}/{{ page.path }}" target="_blank">Edit this page</a></button></p>
		</footer>
	</article>
</html>


