<DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/chapt-1">Chapter 1: Taking in the Positive</a></li>
        		<li><a href="/chapt-2">Chapter 2: Mindfulness</a></li>
        		<li><a href="/chapt-3">Chapter 3: Gratitude</a></li>
        		<li><a href="/chapt-4">Chapter 4: Anxiety, Stress and Coping Skills</a></li>
        		<li><a href="/chapt-5">Chapter 5: Mindful Problem Solving</a></li>
        		<li><a href="/chapt-6">Chapter 6: Recognizing and Challenging Anxious Thought Loops</a></li>
        		<li><a href="/chapt-7">Chapter 7: Reframing</a></li>
        		<li><a href="/chapt-8">Chapter 8: Harnessing your Strengths and Staying Connected to your Values</a></li>
        		<li><a href="/chapt-9">Chapter 9: Goal Attainment</a></li>
            <li><a href="/chapt-10">Chapter 10: Maximizing Social Support</a></li>
            <li><a href="/chapt-11">Chapter 11: Altruism and Acts of Kindness</a></li>
            <li><a href="/chapt-12">Chapter 12: Creating an Ongoing Practice and Lasting Changes</a></li>

    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:david.olem@gmail.com">Contact Me</a></li>
			</ul>
		</footer>
	</body>
</html>


