<DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="robots" content="noindex">
	</head>
	<body>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/chapt-1/">Taking in the Positive</a></li>
        		<li><a href="/chapt-2/">Mindfulness</a></li>
        		<li><a href="/chapt-3/">Gratitude</a></li>
        		<li><a href="/chapt-4/">Anxiety, Stress and Coping Skills</a></li>
        		<li><a href="/chapt-5/">Mindful Problem Solving</a></li>
        		<li><a href="/chapt-6/">Recognizing and Challenging Anxious Thought Loops</a></li>
        		<li><a href="/chapt-7/">Reframing</a></li>
        		<li><a href="/chapt-8/">Harnessing your Strengths and Staying Connected to your Values</a></li>
        		<li><a href="/chapt-9/">Goal Attainment</a></li>
                <li><a href="/chapt-10/">Maximizing Social Support</a></li>
                <li><a href="/chapt-11/">Altruism and Acts of Kindness</a></li>
                <li><a href="/chapt-12/">Creating an Ongoing Practice and Lasting Changes</a></li>

    		</ul>
		</nav><!-- /.nav -->
		<footer>
    		<ul>
        		<li><a href="mailto:david.olem@gmail.com">Contact Me</a></li>
			</ul>
		</footer>
	</body>
</html>


